* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.m-1 {
    margin: 1rem 1rem 1rem 1rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mx-1 {
    margin: 0 1rem 0 1rem;
}

.my-3 {
    margin: 3rem 0 3rem 0;
}

.align-items-center {
    align-items: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.circle {
    width: auto;
    height: auto;
    border: black 1px solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 25px 50px 25px;
    margin: 0px 10px 0px 10px;
}

.number-input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    border: none;
}

.number-input:focus-visible,
.select-menu:focus-visible {
    outline: none;
}

.select-menu {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.line {
    stroke-width: 1px;
    stroke: rgb(0, 0, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
}

.modal-content {
    background-color: white;
    margin: auto auto;
    width: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 10px;
}

.modal-text {
    padding: 0 20px 20px 20px;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}